@font-face {
    font-family: "3Of9Barcode";
    src: url("https://github.com/jmillspaysbills/3of9barcode/blob/master/3of9_new.woff?raw=true") format("woff");
    font-weight: normal;
    font-style: normal;

}
